<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>注册</title>
    <!-- Author: Song -->
    <script src="/js/bootstrapCssWrapper-bundle.js"></script>
</head>
<body>
<div id="root">
</div>
<div id="example">
</div>
<script type="text/javascript">
    var pageParas ={
        formInit :[
            {name:"name"} ,
            {name:"mobile"} ,
            {name:"pwd"}
        ],
        formExtend :[
            {name:"name", alias:"用户名"} ,
            {name:"mobile", alias:"手机号"} ,
            {name:"pwd", alias:"密码"}
        ],
        title : "用户注册",
        url : "/rest/user/register",
        redirectUrl : "/",
        method : "post"
    }
</script>
<script src="/js/commonV3.js"></script>
<script src="/js/standardRespFormGenerator-bundle.js"></script>
</body>
</html>
