<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>自助发票生成</title>
    <!-- Author: Song -->
    <script src="/js/bootstrapCssWrapper-bundle.js"></script>
</head>
<body>
<div id="root">
</div>
<div id="example">
</div>
<script type="text/javascript">
    var date = new Date();
    var pageParas ={

        formInit :[
            {name:"mobile", alias:"持票人手机", value:""} ,
            {name:"ticketId", alias:"购物小票号码"} ,
            {name:"title", alias:"单位全称", value:"oxchains"} ,
        ],
        formExtend :[
        ],
        title : "自助发票生成",
        url : "/rest/invoice/auto",
        redirectUrl : "/invoice/list",
        method : "post"
    }

</script>
<script src="/js/commonV3.js"></script>
<script src="/js/standardRespFormGenerator-bundle.js"></script>
</body>
</html>
