<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/common.css" />
</head>
<body>

<a href="/auto">自动开票</a><br></br>
<br></br><br></br>
<a href="/login">登录页</a><br></br>
<a href="/logout">登出</a><br></br>
<br></br><br></br>
<a href="/apply">企业申请注册</a><br></br>
<a href="/reimburse/list">企业发票审核</a><br></br>
<br></br><br></br>
<a href="/register">个人用户注册</a><br></br>
<a href="/invoice/list">个人发票列表</a><br></br>
<a href="/reimburse/mine/list">个人报销列表</a><br></br>

</body>
</html>
